DirectoryIndex index.php

RewriteEngine on
#RewriteCond %{HTTP_HOST} !^www\.
#RewriteRule (.*) http://%{HTTP_HOST}/$1 [R=301,L]

RewriteCond $1 !^(index\.php|images|css|js|swf|xml|robots\.txt|favicon\.ico)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

Options -Indexes

order deny,allow
deny from all

#local
allow from 127.0.0.1

#home
allow from 68.174.13.82

#work
allow from 216.27.141.16
